#derive-result {
  display: grid;
  grid-template-columns: max-content max-content 3em max-content 3em max-content max-content;
}
.rule {
  text-align: left;
  margin-left: 1em;
}
.id {
  text-align: right !important;
  margin-right: 1em;
}
#graph-result {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  margin-bottom: 5em;
}
svg {
  border: 1px solid slategray;
}
.expr,
.turnstile,
.type-symbol,
.type,
.error {
  text-align: center !important;
}
html {
  font-size: 18px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #16191c;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
label,
input,
button {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
button {
  font-size: 18px;
}
span[role="textbox"] {
  font-size: 1rem;
  border: 1px solid slategray;
  margin: 1em 0;
  padding: 0.5em;
}
.flex {
  display: flex;
  flex-direction: column;
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: calc(100% - 22em);
}
.float {
  position: absolute;
  /* left: calc(50% + 40ch + 7em); */
  right: 1em;
  top: 1em;
  border: 1px solid slategray;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-item {
  text-align: center;
}
.error {
  grid-column: span 6;
  padding: 0 1em;
  background-color: rgba(255, 0, 0, 0.1) !important;
}
