<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lambdasee</title>
    <script src="vendor/htmx.js"></script>
    <script src="vendor/prism.js"></script>
    <script src="vendor/svg.js"></script>
    <script src="vendor/svg.panzoom.js"></script>
    <link rel="stylesheet" href="vendor/prism.css" />

    <link rel="stylesheet" href="index.css" />
    <script type="module" src="index.js"></script>
  </head>
  <body>
    <fieldset class="float">
      <legend style="font-size: 16px">UTF-8 ⟷ ASCII</legend>
      <div class="grid-container">
        <div class="grid-item">λ</div>
        <div class="grid-item">\</div>

        <div class="grid-item">Π</div>
        <div class="grid-item">/</div>

        <div class="grid-item">→</div>
        <div class="grid-item">-></div>

        <div class="grid-item">∗</div>
        <div class="grid-item">*</div>

        <div class="grid-item">□</div>
        <div class="grid-item">#</div>

        <div class="grid-item">Γ</div>
        <div class="grid-item">C</div>

        <div class="grid-item">⊢</div>
        <div class="grid-item">|-</div>

        <div class="grid-item">∅</div>
        <div class="grid-item">{}</div>

        <div class="grid-item">⊥</div>
        <div class="grid-item">_|_</div>
      </div>
    </fieldset>
    <main class="flex">
      <h1 style="margin: 0 auto">λ•</h1>
      <span style="margin: 0 auto">
        parse, visualize, and derive expressions of λC & friends
      </span>
      <hr />
      <input
        class="input"
        name="query"
        style="resize: vertical"
        id="query"
        hx-get="/parse"
        hx-trigger="input[key == 'Enter' || document.querySelector('#auto').checked]"
        hx-target="#parse-result"
        placeholder="Parse..."
      ></input>
      <label>
        <input type="checkbox" id="auto" checked />
        reload on change
      </label>
      <div style="margin: 1em 0">
        <span>Parse:</span>
        <pre
          id="parse-result"
          class="language-lisp rainbow-braces match-braces"
        ><code></code></pre>
        <span>Derive:</span>
        <button
          id="derive-query"
          hx-get="/derive"
          hx-vals="js: query:normalize(htmx.find('#query').value)"
          hx-target="#derive-result"
        >
          Text
        </button>
        <button
          id="graph-query"
          hx-get="/graph"
          hx-vals="js: query:normalize(htmx.find('#query').value)"
          hx-target="#graph-result"
        >
          Graph
        </button>
        <pre
          id="derive-result"
          class="language-lisp rainbow-braces match-braces"
        >
          <code></code>
        </pre>
      </div>
    </main>
    <div id="graph-result"></div>
  </body>
</html>
